* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 48px;
}

.row {
    width: 100%;
    padding: 80px 0;
}


/* nav */

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 48px;
    background-color: rgb(5, 124, 171)
}

.nav__logo {
    height: 60px;
    width: auto;
}

.nav__links {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav__link {
    padding: 12px;
}


/* hero */

#hero {
    min-height: 100vh;
    background-color: #e8f4f8;
    display: flex;
    align-items: center;
}

.hero__text {
    text-align: center;
    
}

.hero__title {
    margin-bottom: 12px;
    font-size: 48px;
    /* font-weight: 700; */
}

.hero__sub {
    margin-bottom: 24px;
    font-size: 20px;
    font-weight: 400;
}

.btn {
    border: 2px solid;
    padding: 12px 24px;
    border-radius: 9999px;
    display: inline-block;
    cursor: pointer;
    color: #0066cc;
}

.btn:hover {
    background-color: transparent;
    color: #333333;
}



/* about */

.section__title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 24px;
    text-align: center;
}

.section__para {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 24px;
}



/* services */

.services__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    max-width: 900px;
    margin: 0 auto;
}

.service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100% / 3);
    padding: 24px;
    text-align: center;
    border: 2px solid black;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: all 0.3 ease;
    max-width: ;
}


.service:hover {
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
    transform: translateY(-4px);
    transition: all 0.3s ease;
}

.service__icon {
    margin-bottom: 12px;
}